header {
  padding: 20px 0 20px 0;
  display: flex;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav__alex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header .nav__alex__img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header .nav__alex i {
  transform: rotate(90deg);
}
header .nav__alex img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
header .nav__card__list {
  display: flex;
  gap: 15px;
}
header .nav__card__list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .nav__logo {
  width: 152px;
  height: 32px;
}
header .nav__formBox .nav__form {
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
}
header .nav__formBox .nav__form__btn {
  display: flex;
  width: 140px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 4px;
  background: var(--main-secondary, #70c05b);
}
header .nav__formBox .nav__form__inp {
  display: flex;
  height: 40px;
  padding: 8px;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background: var(--main-surface, #fff);
}
header .nav__formBox .nav__form__inp__input {
  border: 0;
  outline: 0;
}

.container {
  max-width: 1250px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  width: 1440px;
  background-color: whitesmoke;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  display: flex;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav__alex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header .nav__alex__img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header .nav__alex i {
  transform: rotate(90deg);
}
header .nav__alex img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
header .nav__card__list {
  display: flex;
  gap: 15px;
}
header .nav__card__list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .nav__logo {
  width: 152px;
  height: 32px;
}
header .nav__formBox .nav__form {
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
}
header .nav__formBox .nav__form__btn {
  display: flex;
  width: 140px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 4px;
  background: var(--main-secondary, #70c05b);
}
header .nav__formBox .nav__form__inp {
  display: flex;
  height: 40px;
  padding: 8px;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background: var(--main-surface, #fff);
}
header .nav__formBox .nav__form__inp__input {
  border: 0;
  outline: 0;
}

.hero {
  width: 1440px;
  margin: 0 auto;
  background-image: url(../../../images/Otabek/Group\ 7100.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__text {
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

#googleMap {
  margin-top: 25px;
}

main {
  background-color: #fbf8ec;
  border: 1px solid blue;
  width: 1440px;
  margin: 0 auto;
}

.section1 {
  background: color #eebc09;
}
.section1__menu {
  display: flex;
  gap: 16px;
}
.section1__menu__title {
  color: var(--main-on-surface, #414141);
  /* Desc/Header/M */
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
.section1__box {
  display: flex;
  margin-top: 60px;
}
.section1__box__card1 {
  margin-top: 60px;
}
.section1__box__card1__inp {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 13px 0;
}
.section1__box__card1__inp .input11 {
  width: 92px;
  height: 40px;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 4px;
  border: 1px solid var(--grayscale-light, #bfbfbf);
  background: var(--main-surface, #fff);
}
.section1__box__card1 h2 {
  color: var(--main-on-surface, #414141);
  /* Desc/Text-Bold/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.section1__box__card1__paragrf {
  width: 272px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.search__btn {
  border: 0;
  outline: 0;
}

.paragrf {
  color: #0a0a0a;
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.parag {
  display: flex;
  width: 85px;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--grayscale-lightest, #f5f1ee);
}

.minus {
  width: 20px;
  height: 1px;
  border: 2px solid black;
}

#price {
  width: 100%;
}

.pradact {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin-left: 40px;
  gap: 40px;
}
.pradact__card {
  background-color: white;
  width: 250px;
  height: 400px;
  margin-top: 50px;
}
.pradact__card__title {
  display: flex;
  gap: 4px;
}
.pradact__card__title h2 {
  color: var(--main-on-surface, #414141);
  /* Desc/Text-Bold/M */
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
}
.pradact__card__images {
  display: flex;
}
.pradact__card__images__photo {
  width: 210px;
}
.pradact__text {
  align-self: stretch;
  color: var(--main-on-surface, #414141);
  margin-top: 8px;
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.pradact__star {
  margin-top: 8px;
}
.pradact__btn {
  display: flex;
  margin-top: 8px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
}
.pradact__btn__moloko {
  background-color: #ff6633;
  display: flex;
  margin-top: 8px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
}
.pradact__btn__style {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  color: #70c05b;
  border: 0;
  outline: 0;
}

.pradact__btn__moloko__style {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  background-color: #ff6633;
  color: white;
  border: 0;
  outline: 0;
}

.nashi {
  display: flex;
  gap: 20px;
}
.nashi__btn {
  width: 90px;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--grayscale-lightest, #f3f2f1);
}

.footer__list__list {
  display: flex;
}

/*# sourceMappingURL=main.css.map */
